@import "tailwindcss";

@theme {
    --color-primary: #23a6f0;
    --color-secondary: #23856d;
    --color-secondary-light: #2dc071;
    --color-tertiary: #e77c40;
    --color-gray-light: #f7f7f7;
    --color-gray-text: #737373;
    --color-light-text: #bdbdbd;
    --color-dark-text: #252b42;
    --color-alert: #ff4d4f;
}

@layer components {
    .btn {
      @apply h-14 px-8 rounded text-white;
    }
    .card-title {
      @apply text-dark-text text-xl leading-6 font-semibold;
    }
    .card-subtitle {
      @apply text-lg leading-6 font-semibold;
    }
    .h3 {
      @apply text-dark-text text-3xl font-bold;
    }
    .form-input {
      @apply w-full px-3 py-2 border border-light-text rounded-lg focus:outline-none focus:ring-2 focus:ring-primary focus:border-transparent;
    }
    .form-label {
      @apply block text-sm font-medium text-dark-text mb-1;
    }
    
}